*{
  box-sizing: border-box;
}

body {
  margin:0;
  /* background-image: url(web-final.jpg); */
}

.grid-container {
   display: flex;
   flex-wrap: wrap;
   height: 100vh;
   width: 100%;
   background: yellow;
}
.grid-row {
  display: flex;
  height: 25%;
  width: 100%;
}

.grid-item {
 background: white;
 width: 100%;
 height: 100%;
 position: relative;
}

.blue{
  background: blue;
}

.draggable{
  width: 100%;
  height:100%;
  background: red;
  position: absolute;
  top: 0;
  left:0;
  z-index:99;
}

.image-box{
background-image: url(web-final.jpg);
background-size: cover;
background-position: center;
}
.grid-item2{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4
}
.grid-item3{
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4
