* {
  box-sizing: border-box;
}

body {
background: #e9fae3;
}
details {
  /* border-left: 6px solid rgb(255, 181, 167);
  background-color: rgb(252, 213, 206, 0.50); */
}
summary {
font-family: 'Playfair Display',serif;
font-style: italic;
font-weight: 900;
font-size: 24px;
color: #e18ad4;
}

p {
  font-family: 'Playfair Display',serif;
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
}

strong {
  font-family: 'Playfair Display',serif;
  font-style: bold;
  font-weight: 700;
  color: #eeb1d5;
}

.p1 {
  /* height: 50%;
  width: 70%; */
  /* padding: 30px;
  box-sizing: border-box; */
}

h1 {
  font-family: 'Playfair Display',serif;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  color: #71c100;
}

.p2 {
  padding: 20px;
  box-sizing: border-box;
  word-wrap: break-word;
}

h2 {
  font-family: 'Playfair Display',serif;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  color: #71c100;
}

h3 {
  font-family: 'Playfair Display',serif;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  color: #54ba49;
}

.main-container {
   max-width: 1200px;
   margin: auto;
   align-items: center;
}

.column {
  height: 25%;
  width: 100%;
}

.center {
  height: 55%;
  width: 100%;
}

.p3 {
  height: 50%;
  width: 100%;
  display: block;
  text-align: center;
}

a:link, a:visited {
  color: #71c100;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #ffc8dd;
}

u {
  font-family: 'Playfair Display',serif;
  font-style: bold;
  font-weight: 700;
  color: #71c100;
}

ul li {
  box-sizing: border-box;
  font-family: 'Playfair Display',serif;
  font-style: italic;
  font-weight: 500;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
