
* {
  box-sizing: border-box;
}

body {
  margin:0;
  background: rgb(12, 12, 14);
}

.flex {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.oval {
  height: 50vw;
  width: 25vw;
  background: rgb(255, 186, 8);
  border-radius: 50%;
  /* transform: rotate(35deg); */
  animation: flip 5s infinite alternate;
  animation-timing-function: linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
transform: rotate(90deg);
align-content: center;
animation: spin 3s infinite;
animation-timing-function: linear;
}

.triangle-top{
  width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 50px solid rgb(12, 12, 14);
}

.triangle-down{
  width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top: 50px solid rgb(12, 12, 14);
}

@keyframes flip {
  0% {
    transform: translateY(0);
    background: rgb(255, 186, 8);
    height: 50vw;
    width: 25vw;
  }
  25% {
    transform: translateY(90deg);
    background: rgb(244, 140, 6);
  }
  50% {
    transform: translateY(180deg);
    background: rgb(220, 47, 2);
  }
  75% {
    transform: translateY(270deg);
    background: rgb(157, 2, 8);
  }
  100%{
    transform: translateY(360deg);
    background: rgb(55, 6, 23);
    height: 50vh;
    width: 25vw;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
