
*{
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin:1rem;
}

.box {
  background: rgb(244, 101, 124);
  max-width: 900px;
  min-height: 50vh;
  font-size: 20px;
}

p {
  margin: 0;
  font-size: 1em;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  background: rgba(250, 120, 72, 0.95);
  width: 32%;
  height: 200px;
  margin-bottom: 20px;
}

 @media screen and (max-width:800px) {
   .item {
     width: 49%;
   }
 }

 @media screen and (max-width:600px) {
   .item {
     width: 100%;
   }
 }
